<head></head>
<body>

    <div class="navbar-fixed">
        <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12">
                        <ul class="right hide-on-med-and-down">
                            <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank"><span>HOME</span></a></li>
                            <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank"><span>SAVED ARTICLES</span></a></li>
                            <li><a href="https://codepen.io/collection/nbBqgY/" target="_blank"><span>NEW ARTICLES</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="row">
        <p class="brand-logo center">News Scraper</p>
    </div>
    
	<div id='articles'></div>
</body>