.container {
	padding: 80px;
	
}

body{

background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
/*background-image: url("./images/news.jpg");*/
}


.right{
	margin: 10px;

}

.caption{
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-size: 60px;
}

.article-summary{
	font-family: "Courier New";
	font-size: 20px;
}



.navbar-fixed {
	color: black;
}

span{
	color: black;
}

.card{
padding: 5%;
margin: 0 auto;
}
/*.navbar-inner {
    background:transparent;
}*/